.heading
{
font-size: 40px;
width: 100%;
margin: 0px;
color:white;
}

#status
{
font-size: 18px;
}

body{

    background-size:cover ;
   
}


canvas
{
box-shadow: 10px 10px 10px grey;
border-radius: 10px;
}


